@page
@model Web.Pages.Users.BlobModel
@{
    ViewData["Title"] = "User-Assigned Managed Identity -Blob";
}

<div style="display: flex; flex-wrap: wrap; width: 400px;">
    <div style="width: clac(100% /2); padding: 20px 10px; text-align: center;">
        <a asp-page="Index"><span>データベース</span></a>
    </div>
    <div style="width: clac(100% /2); padding: 20px 10px; text-align: center;">
        <span>Blob ストレージ</span>
    </div>
</div>

<form method="get">
    <div>
        <label for="user1">uaid-test-3_0</label>
        <input type="radio" id="user1" name="userId" value="552ed788-64df-4fd8-a491-a3409b9fbc24" />
        <label for="user2">uaid-test-3_1</label>
        <input type="radio" id="user2" name="userId" value="3c92c270-15a1-47f1-96f3-f159cafd67ba" />
        <br />

        <label for="container">contents</label>
        <input type="radio" id="container1" name="containerName" value="contents" />
        <label for="container">output-from-web</label>
        <input type="radio" id="container2" name="containerName" value="output-from-web" />
        <br />

        <input type="submit" value="Submit" />
    </div>

    <br />

    <p>Selected: @ViewData["connection"]</p>

    <br />

    <p>@ViewData["message"]</p>
</form>
