@page
@model Web.Pages.Users.BlobModel
@{
    ViewData["Title"] = "User-Assigned Managed Identity -Blob";
}

<div style="display: flex; flex-wrap: wrap; width: 400px;">
    <div style="width: clac(100% /2); padding: 20px 10px; text-align: center;">
        <a asp-area="Users" asp-page="Index"><span>データベース</span></a>
    </div>
    <div style="width: clac(100% /2); padding: 20px 10px; text-align: center;">
        <span>Blob ストレージ</span>
    </div>
</div>

