@page
@model Web.Pages.Users.IndexModel
@{
    ViewData["Title"] = "User-Assigned Managed Identity";
}

<form method="get">
    <div>
        <label for="user1">id-aw-saleslt</label>
        <input type="radio" id="user1" name="userid" value="1898c173-e5f6-468f-849f-b0356b897c18" />
        <label for="user2">id-aw-pubs</label>
        <input type="radio" id="user2" name="userid" value="0d14cc99-e6b4-485f-87c9-84dcda993841" />
        <br />

        <label for="schema">SalesLT</label>
        <input type="radio" id="schema1" name="schema" value="SalesLT" />
        <label for="schema">Pubs</label>
        <input type="radio" id="schema2" name="schema" value="Pubs" />
        <br />

        <input type="submit" value="Submit" />
    </div>

    <br />

    <p>Selected: @ViewData["connection"]</p>
    <p>ConnectionString: @ViewData["connectionString"]</p>
    <p>Query: @ViewData["query"]</p>

    <br />

    <p>@ViewData["json"]</p>
</form>