@page
@model Web.Pages.Users.SqlModel
@{
    ViewData["Title"] = "User-Assigned Managed Identity -SQL2";
}

<div style="display: flex; flex-wrap: wrap; width: 600px;">
    <div style="width: clac(100% /3); padding: 20px 10px; text-align: center;">
        <a asp-page="Index"><span>データベース</span></a>
    </div>
    <div style="width: clac(100% /3); padding: 20px 10px; text-align: center;">
        <span>データベース 2</span>
    </div>
    <div style="width: clac(100% /3); padding: 20px 10px; text-align: center;">
        <a asp-page="Blob"><span>Blob ストレージ</span></a>
    </div>
</div>

<form method="get">
    <div>
        <label for="user1">id-aw-saleslt</label>
        <input type="radio" id="user1" name="userid" value="1898c173-e5f6-468f-849f-b0356b897c18" />
        <label for="user2">id-aw-pubs</label>
        <input type="radio" id="user2" name="userid" value="0d14cc99-e6b4-485f-87c9-84dcda993841" />
        <label for="user3">uaid-test-3_a</label>
        <input type="radio" id="user3" name="userId" value="ba43f0a6-5126-437f-a0c3-a0b93e28e89f" />
        <label for="user3">uaid-test-3_b</label>
        <input type="radio" id="user3" name="userId" value="6296bc91-3635-4740-9a35-577da2359363" />
        <br />

        <label for="schema">SalesLT</label>
        <input type="radio" id="schema1" name="schema" value="SalesLT" />
        <label for="schema">Pubs</label>
        <input type="radio" id="schema2" name="schema" value="Pubs" />
        <br />

        <input type="submit" value="Submit" />
    </div>

    <br />

    <p>Selected: @ViewData["connection"]</p>
    <p>ConnectionString: @ViewData["connectionString"]</p>
    <p>Query: @ViewData["query"]</p>

    <br />

    <p>@ViewData["message"]</p>
</form>
